.home_bg_container {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
}
.home_el {
  color: white;
  text-align: center;
}
.home_container {
  align-self: flex-start;
}
.p_white {
  color: white;
}
.p_bold {
  font-weight: bold;
}
